@charset "utf-8";
body {
    background: #222;
    font-family: 'Martel Sans', sans-serif;
    margin: 0;
}

header {
    background: #fffae5;
    display: flex;
    color: #222;
}

div.h1Container{
    display: flex;
    justify-content: center;
    text-align: center;
}