@charset "utf-8";
body {
    background: #fffae5;
    font-family: 'Martel Sans', sans-serif;
    margin: 0;
}

div.header-container {
    background: #fffae5;
    width: 60%;
    border-bottom-style: solid;
    position: fixed;
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    float: left;
    padding-top: 20px;
    margin: 0;
}

nav {
    float: right;
    padding-top: 40px;

}

nav ul {
    margin: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0 0 0 30px;
    padding-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

nav ul li a:hover {
    color: #333;
}

div.info {
    margin-top: 100px;
    width: 600px;
    float: left;
    margin-left: 20%;
}

h2 {
    font-size: 25px;
    font-weight: 100;
}

@media(max-width: 1670px) {
    div.header-container {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    div.info {
        width: 400px;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media(max-width: 1145px) {
    div.header-container {
        margin: 0;
        width: 100%;
    }
    nav {
        padding-top: 10px;
    }
    nav ul li {
        display: block;
    }
}

@media(max-width: 620px) {
    h1 {
        width: 270px;
    }
    div.info {
        margin-top: 150px;
    }
}

@media(max-width: 450px) {
    h1 {
        font-size: 16px;
        padding-top: 45px;
        margin-left: 20px;
    }
    nav {
        float: right;
    }
    nav ul {
        padding-left: 0;
    }
    nav ul li {
        font-size: small;
        line-height: 20px;
        padding-left: 0;
        margin-left: 0;
        padding-top: 10px;
    }
    div.info {
        width: 280px;
        margin-top: 130px;
        font-size: 12px;
    }
    h2 {
        font-size: 14px;
    }
}